@model IEnumerable<ProjetoLojaData.Entity.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Produtos.cshtml";
}

<style>
li {
  line-height: 20px;
  list-style: none;
}
.product-list a .image img {
  display: block;
  width: 100%;
  margin-left: 20px;
}
.image img {
  width: auto\9;
  height: auto;
  max-width: 80%!important;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
</style>

<section class="main">
                <section class="category">
                    <div class="container">
                        <div class="row">
                            <div class="span3">
                               @* <aside class="sidebar">
                                    <div class="children">
                                        <div class="box border-top">
                                            <div class="hgroup title">
                                                <h3>
                                                    <a href="category.html" title="Womens">Marca</a>
                                                </h3>
                                            </div>
                                            <ul class="category-list secondary">
                                                <li>
                                                    <a href="category.html" title="Exemplo">
                                                        Shoes				
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </aside>*@
                            </div>
                            <div class="span9">
                            <ul class="product-list isotope">
                    @foreach (var item in Model) {
                    <li class="standard" data-price="58">
                            <a href="/Produto/Details/@item.idProduto" title="@item.nome">
                                <div class="image">  
                                    @*@if (@ViewBag.PrimeiraImagem != null)
                                     {*@
                                   @*<img src="@ViewBag.PrimeiraImagem"/> *@
                                   @*}*@
                                  @* else
                                   { *@
                                       <img class="primary" src="Style/img/thumbnails/116175953_1GG.jpg"  />
                                       <img class="secondary" src="Style/img/thumbnails/116175953_3GG.jpg" /> 
                                   @*} *@                                                                                                                                 
                                </div>
                                <div class="title">
                                    <div class="prices">                            
                                      <span class="price">R$ Não informado.</span>
                                      @*<span class="price">R$ @item</span>*@
                                    </div>
                                    <h3>@item.nome</h3>
                                </div>
                            </a>
                        </li> 
                               
                    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     <ul class="product-list isotope">
                                     
                                                
                    </ul>
                        </div>                            
                    </div>
                </div>

                </section>               
                </section>