@model ProjetoLojaData.Entity.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm()) {

    <fieldset>
        <legend>Usuario</legend>

        <div class="editor-label">
            E-mail
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pessoa.email)
        </div>

        <div class="editor-label">
            Senha
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.senha)
        </div>

        <p>
            <input type="submit" value="Logar" onclick="return validar();" />
        </p>
        <p>
            @Html.ActionLink("Registrar", "NovoUsuario") |
            @Html.ActionLink("Esqueci minha senha", "RecuperarSenha")
        </p>
    </fieldset>
}

@if (ViewBag.Erro != null && ViewBag.Erro != "")
{
    <script>
        alert('@Html.Raw(ViewBag.Erro)');
    </script>
}

<script>
    function validar() {
        if ($("#Pessoa_email").val() == "") {
            alert("E-mail obrigatório");
            return false;
        }
        if ($("#senha").val() == "") {
            alert("Senha obrigatória");
            return false;
        }
        return true;
    }
</script>