@model IEnumerable<ProjetoLojaData.Entity.OrdemServico>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid #666;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th	{
    background-color: #999;
    color: white;
}
.btnDetalhes{
    width:100%;
    float:left;
    text-align:center;
    padding; 5px;
}
</style>
<h2>
    Ordens de Serviço</h2>
    @if (Model.Count() > 0)
    {
<table style="width:100%">
    <tr>
        <th>
            OS
        </th>
        <th>
            Data de Entrada
        </th>
        <th>
            Data Prevista para Entrega
        </th>
        <th>
            Data de Entrega
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idTransacao)
            </td>
            <td>
                @item.dataEntrada.ToShortDateString()
            </td>
            <td>
                @item.dataPrevistaEntrega.ToShortDateString()
            </td>
            <td>
                @if (item.dataEntrega != null)
                {
                    @item.dataEntrega.Value.ToShortDateString()
                }
            </td>
            <td>
                <a href="#myModal" rel="@Html.DisplayFor(modelItem => item.idTransacao)" class="btnDetalhes" data-toggle="modal">
                    Detalhes</a>
            </td>
        </tr>
    }
</table>
    } else {
      <p>Não existem ordens de serviço cadastradas.</p>  
    }
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title">
                    Detalhes</h4>
            </div>
            <div class="modal-body">
                 <table id="detalheTb" style="width:100%">
                    <tr>
                        <td style="width:100px">
                            OS
                        </td>
                        <td>
                            <span id="id"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data Entrada
                        </td>
                        <td>
                            <span id="dataEntrada"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data Prevista
                        </td>
                        <td>
                            <span id="dataPrevistaEntrega"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data Entrega
                        </td>
                        <td>
                            <span id="dataEntrega"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Descrição
                        </td>
                        <td>
                            <span id="descricao"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Valor
                        </td>
                        <td>
                            <span id="valor"></span>
                        </td>
                    </tr>
                 </table>
    
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".btnDetalhes").click(function () {
        var id = $(this).attr('rel');
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "/OrdemServico/DetalhaOrdemServicoPorId",
            data: { id: id },
            success: function (detalhes) {
                $('.modal-body #id').text(detalhes.id);
                $('.modal-body #dataEntrada').text(detalhes.dataEntrada);
                $('.modal-body #dataPrevistaEntrega').text(detalhes.dataPrevistaEntrega);
                $('.modal-body #dataEntrega').text(detalhes.dataEntrega);
                $('.modal-body #descricao').text(detalhes.descricao);
                $('.modal-body #valor').text(detalhes.valor);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log('deuruim', thrownError);
            }
        });
    });
</script>
